<!DOCTYPE html>
<html lang="en">
<%- include("./partial/head.ejs") %>
<body>
    <%- include("./partial/nav.ejs") %>

    <div class="details content">
        <img class="img" src="https://i2.wp.com/www.thursdaynightpizza.com/wp-content/uploads/2020/08/Peggy_AuthorPhoto_2020_15-scaled-e1632340052666.jpg?fit=5689%2C3727&ssl=1" alt="Not found">
        <div class="content">
            <p><b><%= blog.title %></b></p>
            <p><%= blog.type %></p>
            <p>$<%= blog.price %></i></p>
            <p><%= blog.body %></p>
        </div>
        <a  class="delete" data-doc="<%=blog._id %>">Delete</a>
    </div>


    <script>
        const trash= document.querySelector('.delete')
        trash.addEventListener('click', (e)=>{
            const endpoit=`/blogs/${trash.dataset.doc}`;


            fetch(endpoit, {
                method:"DELETE"
            })
               .then((response)=>response.json())
               .then((data)=>window.location.href=data.redirect)
               .catch(err=> console.log(err))
        })
    </script>
</body>
</html>