<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head.ejs') %>
<body>
    <%- include('./partial/nav.ejs') %>

    <div class="blogs content">
        <h2>All Blogs</h2>
        <% if (blog.length>0){ %>
            <% blog.forEach(blog=>{ %>
            <a href="/blogs/ <%= blog._id %>" class="single">
                <h3 class="title"><%= blog.title %></h3>
                <p class="snippet"><%= blog.type %></p>
            </a>
        <% })%>
        <% } %>
    </div>
</body>
</html>